$blak: #664B42;
$orange: #FD9F32;

body {
    font-family: Mulish, sans-serif;
    font-size: 18px;
    color: $blak;
    background: #FFF;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.container-content {
    margin: 0 auto;
    padding: 0 20px;

    // Медиа запрос для планшетов
    @media (min-width: 1024px) {
        padding: 0 30px;
    }

    // Медиа запрос для десктопов
    @media (min-width: 1920px) {
        padding: 0 64px;
    }
}

.test {
    // Медиа запрос для планшетов
    @media (min-width: 1024px) {
    }

    // Медиа запрос для десктопов
    @media (min-width: 1920px) {
    }
}

.none {
    display: none;
    // display: none!important;
}

.none-scroll {
    overflow: hidden;
}

.overlay {
    position: fixed;
    z-index: 5;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(102, 75, 66, 0.3);
    display: none;
}

.overlay_active {
    display: block;
}
