*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

// html,
body {
    margin: 0;
    padding: 0;
}

a, a:hover {
    text-decoration: none;
    transition: 0.4s;
    outline: none;
}

a {
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 p {
    margin: 0;
    padding: 0;    
}

img {
    display: block;
    // max-width: 100%;
    // height: auto;
}

button, input {
    padding: 0;
    border: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    background-color: inherit;

    outline: none;
}

button {
    cursor: pointer;
}
