*, *::before, *::after {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0; }

a, a:hover {
  text-decoration: none;
  transition: 0.5s;
  outline: none; }

a {
  color: inherit; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

h1, h2, h3, h4, h5, h6 p {
  margin: 0;
  padding: 0; }

img {
  display: block; }

button, input {
  padding: 0;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: inherit;
  outline: none; }

button {
  cursor: pointer; }

body {
  font-family: Mulish, sans-serif;
  font-size: 18px;
  color: #664B42;
  background: #FFF; }

.container {
  margin: 0 auto;
  max-width: 1920px; }

.contant-container {
  margin: 0 auto;
  padding: 0 20px; }
  @media (min-width: 1024px) {
    .contant-container {
      padding: 0 30px; } }
  @media (min-width: 1920px) {
    .contant-container {
      padding: 0 64px; } }

.none {
  display: none; }

.none-scroll {
  overflow: hidden; }

#overlay {
  position: fixed;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(102, 75, 66, 0.3);
  display: none; }

#overlay.active {
  display: block; }

.header {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #F7F7F7;
  height: 1500px; }

.header-container {
  max-width: 1484px;
  margin: 0 auto; }

.header__top {
  position: relative; }
  @media (min-width: 1024px) {
    .header__top {
      margin-bottom: 34px; } }

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 8px;
  margin-bottom: 14px;
  border-bottom: 1px solid #A4A4A4; }
  @media (min-width: 1024px) {
    .header__row {
      padding-bottom: 16px;
      margin-bottom: 0; } }

.header__lang {
  display: none; }
  @media (min-width: 1024px) {
    .header__lang {
      display: flex;
      align-items: center;
      cursor: pointer; } }

.header__lang__text {
  margin-right: 4px;
  font-size: 16px;
  font-weight: 500; }

.header__lang__vector {
  width: 8px;
  height: 8px;
  background-image: url("../img/header/vector.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }

.header__icons {
  display: flex; }

.header__icons_active {
  position: absolute;
  top: 0;
  left: 100px;
  z-index: 15; }

.header__icons__item {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center top; }
  @media (min-width: 1024px) {
    .header__icons__item {
      width: 24px;
      height: 24px; } }

.header__icons__search {
  display: none;
  margin-right: 17px;
  background-image: url("../img/header/search.png"); }
  @media (min-width: 1024px) {
    .header__icons__search {
      display: block; } }

.header__icons__search_active {
  display: block; }

.header__icons__cart {
  position: relative;
  background-image: url("../img/header/cart.png"); }

.header__icons__cart-badge {
  position: absolute;
  bottom: -10px;
  right: -8px;
  padding: 3px 6px;
  border-radius: 10px;
  background: #FD9F32;
  font-size: 14px;
  font-weight: 700;
  line-height: 1; }

.header__contacts {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 1024px) {
    .header__contacts {
      position: absolute;
      top: 0;
      right: calc(134px + (100% - 1024px) * 0.13);
      left: calc(134px + (100% - 1024px) * 0.13);
      flex-direction: row;
      justify-content: space-between; } }
  @media (min-width: 1920px) {
    .header__contacts {
      left: 210px;
      right: 210px; } }

.header__contacts__icons {
  display: flex;
  margin-bottom: 18px; }
  @media (min-width: 1024px) {
    .header__contacts__icons {
      margin-bottom: 0; } }

.header__contacts__icons__item {
  width: 32px;
  height: 32px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .header__contacts__icons__item:last-child {
    margin-right: 0; }
  @media (min-width: 1024px) {
    .header__contacts__icons__item {
      width: 24px;
      height: 24px;
      margin-right: 8px; } }

.header__contacts__icons__youtube {
  background-image: url("../img/header/youtube.png"); }

.header__contacts__icons__instagram {
  background-image: url("../img/header/instagram.png"); }

.header__contacts__icons__chat {
  background-image: url("../img/header/chat.png"); }

.header__contacts__icons__telegram {
  background-image: url("../img/header/telegram.png"); }

.header__contacts__icons__vk {
  background-image: url("../img/header/vk.png"); }

.header__contacts__phone {
  display: flex; }

.header__contacts__phone__number {
  font-weight: 800;
  letter-spacing: -0.01em; }

.header__contacts__phone__img {
  width: 22px;
  height: 22px;
  margin-left: 8px;
  background-image: url("../img/header/phone.png");
  background-repeat: no-repeat;
  background-position: center; }
  @media (min-width: 1024px) {
    .header__contacts__phone__img {
      display: none; } }

.header__logo {
  position: absolute;
  top: 0;
  left: calc(100% / 2);
  transform: translateX(-50%); }
  @media (min-width: 1024px) {
    .header__logo {
      padding-left: 30px;
      padding-right: 30px;
      background-color: #F7F7F7; } }

.header__logo__img {
  width: 150px;
  height: 33px; }
  @media (min-width: 1024px) {
    .header__logo__img {
      width: 260px;
      height: 57px; } }

.burger-btn {
  position: relative;
  z-index: 15;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  @media (min-width: 1024px) {
    .burger-btn {
      display: none; } }

.burger-btn span {
  position: relative;
  display: block;
  width: 26px;
  height: 2px;
  border-radius: 1px;
  background: #A28276; }
  .burger-btn span::before, .burger-btn span::after {
    position: absolute;
    left: 0;
    content: "";
    width: 26px;
    height: 2px;
    background: #A28276;
    border-radius: 1px;
    transition: 0.4s; }
  .burger-btn span::before {
    top: -6px; }
  .burger-btn span::after {
    bottom: -6px; }

.burger-btn_active span {
  background-color: transparent; }
  .burger-btn_active span::before {
    transform: rotate(45deg);
    top: 0; }
  .burger-btn_active span::after {
    transform: rotate(-45deg);
    bottom: 0; }

.header__nav {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 390px;
  padding: 0 20px 65px;
  background: #FFF;
  transform: translateX(-110%);
  transition: 0.8s; }
  @media (min-width: 1024px) {
    .header__nav {
      position: relative;
      width: 877px;
      max-width: unset;
      height: auto;
      margin: 0 auto;
      padding: 0;
      border-radius: 8px;
      transform: translateX(0px); } }

.header__nav_active {
  transform: translateX(0);
  transition: 0.8s;
  overflow-y: auto; }

.header__nav_active::before {
  position: sticky;
  top: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 68px;
  content: '';
  background: #fff; }

@media (min-width: 1024px) {
  .header__menu {
    display: flex;
    justify-content: center;
    column-gap: 53px;
    padding: 0 25px; } }

.header__menu__item {
  border-bottom: 1px solid #B69D86; }
  @media (min-width: 1024px) {
    .header__menu__item {
      border: none; } }

@media (min-width: 1024px) {
  .header__menu__item:hover .header__menu__item__text {
    color: #FD9F32;
    transition: 0.4s; } }

@media (min-width: 1024px) {
  .header__menu__item:hover .header__menu__item__text::before {
    width: 100%;
    transition: 0.4s; } }

@media (min-width: 1024px) {
  .header__menu__item:hover .header__submenu {
    display: flex; } }

.header__menu__item__text {
  position: relative;
  padding: 11px 0;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.4s; }
  .header__menu__item__text:hover {
    color: #FD9F32;
    transition: 0.4s; }
  @media (min-width: 1024px) {
    .header__menu__item__text {
      font-size: 18px;
      font-weight: 700;
      letter-spacing: -0.01em; } }

.header__menu__item__text::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: #FD9F32;
  transition: 0.4s; }

.header__menu__item__text_selected {
  color: #FD9F32; }
  .header__menu__item__text_selected::before {
    width: 100%; }

.header__menu__item__link {
  display: block; }

.header__submenu {
  padding-top: 5px;
  padding-bottom: 16px; }
  @media (min-width: 1024px) {
    .header__submenu {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px 29px;
      padding: 27px 5px 39px; } }

.header__submenu_hidden {
  display: none; }

.header__submenu__item {
  display: flex;
  align-items: center;
  padding: 12px;
  margin-bottom: 4px;
  background: #F7F7F7;
  border-radius: 4px; }
  .header__submenu__item:last-child {
    margin-bottom: 0; }
  @media (min-width: 1024px) {
    .header__submenu__item {
      width: 195px;
      flex-direction: column;
      padding: 0;
      margin-bottom: 0;
      background: #FFF;
      border-radius: 0; } }

.header__submenu__item:hover .header__submenu__item__text {
  color: #FD9F32;
  transition: 0.4s; }
@media (min-width: 1024px) {
  .header__submenu__item:hover .header__submenu__item__arrow {
    display: block;
    transition: 0.4s; } }

.header__submenu__item__img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  object-fit: none;
  object-position: center; }
  @media (min-width: 1024px) {
    .header__submenu__item__img {
      margin-right: 0;
      margin-bottom: 4px; } }

.header__submenu__item__text__wrap {
  display: flex;
  justify-content: center;
  align-items: center; }

.header__submenu__item__text {
  font-weight: 500;
  letter-spacing: -0.01em;
  text-align: center;
  transition: 0.4s; }

.header__submenu__item__arrow {
  display: none;
  width: 10px;
  height: 10px;
  margin-left: 8px;
  background-image: url("../img/header/nav/arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

/*# sourceMappingURL=main.css.map */
