.header__nav {
    width: 877px;
    margin: 0 auto;
    padding: 12.5px;

    // display: flex;
    // justify-content: center;
    // align-items: center;
    // gap: 50px;

    background: #FFFFFF;
    border-radius: 8px;
}

